# TODO: Replace these placeholders with frontend environment values.
VITE_API_BASE_URL=http://localhost:8000
VITE_APP_NAME=AI Research Assistant

VITE_CLERK_PUBLISHABLE_KEY=pk_test_d29uZHJvdXMtc3dhbi00OC5jbGVyay5hY2NvdW50cy5kZXYk
